[submodule "lib/thuw/Signal/SignalSlot"]
	path = lib/thuw/Signal
	url = git@github.com:thu0x31/SignalSlot.git
[submodule "lib/SPSCQueue"]
	path = lib/SPSCQueue
	url = https://github.com/rigtorp/SPSCQueue.git
